CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
pic.jpg
_deps
/[Ll]ibrary/
/[Bb]uild/
.vs/
